<h1>Welcome to Overflowed Stack</h1>
<div id="user-info">
  <% if @current_user %>
  <p>Log In Details:</p>
  <p>Username: <%= @current_user.user_name %></p>
  <p>User Email: <%= @current_user.email %></p>

  <% end %>
</div>
<div id="questionsbox">
  <% if current_user %>
  <p>You have successfully logged in! Go ahead and ask a question!</p>
  <% else %>
  <p>You need to login to get the most out of this site!</p>
  <% end %>
</div>
